<section class="slider">
  <a id="bannerImg"></a>
  <h3 id="bannerTitle" class="flex"></h3>
  <div class="control flex">
    <button id="leftBtn">
      <svg
        viewBox="0 0 16 16"
        preserveAspectRatio="xMidYMid meet"
        focusable="false"
      >
        <g>
          <path
            d="M10.15,13.35L4.79,8l5.35-5.35l0.71,0.71L6.21,8l4.65,4.65L10.15,13.35z"
          ></path>
        </g>
      </svg>
    </button>
    <button id="rightBtn">
      <svg
        viewBox="0 0 16 16"
        preserveAspectRatio="xMidYMid meet"
        focusable="false"
      >
        <g>
          <path
            d="M4.97,12.65L9.62,8L4.97,3.35l0.71-0.71L11.03,8l-5.35,5.35L4.97,12.65z"
          ></path>
        </g>
      </svg>
    </button>
  </div>
</section>
